.marquee-wrapper {
    --gap: 1rem;
    --duration: 30s;
    display: flex;
    overflow: hidden;
    padding: 0.5rem;
    gap: var(--gap);
  }
  
  .marquee-track {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    gap: var(--gap);
    animation: marquee var(--duration) linear infinite;
  }
  
  .marquee-track.reverse {
    animation-direction: reverse;
  }
  
  .marquee-wrapper:hover .marquee-track {
    animation-play-state: paused;
  }
  
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - var(--gap)));
    }
  }
  